@border-color: #d4d4d5;

.clear {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

.ui.timeline {
  position: relative;

  &:after {
    .clear();
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    content: '';
    background-color: @border-color;
  }

  .event {
    position: relative;

    &:after {
      .clear();
    }

    > .point {
      position: absolute;
      display: block;
      left: calc(100% - 10.5px);
      width: 6px;
      height: 6px;
      margin-top: 1rem;
      padding: 6px;
      line-height: 1em;
      text-align: center;
      border-radius: 100%;
      background-color: @border-color;
      border: 3px solid #fff;
    }

    > .card {
      max-width: 95%;

      &:before {
        position: absolute;
        display: block;
        content: '';
        top: 1.5rem;
        right: -10px;
        margin-top: 2px;
        width: 10px;
        height: 10px;
        background-color: #d4d4d5;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        z-index: -1;
      }
  
      > .content {
        text-align: left;
  
        &:first-child > .header {
          font-size: 1em;
          text-align: center;
        }
  
        &.image {
          position: relative;
          padding-left: 5em;
          min-height: 6em;
  
          img {
            position: absolute;
            left: 0.5em;
            width: 4em;
          }

          .icon {
            position: absolute;
            left: 0.5em;
            width: auto;
            font-size: 2.2em;
          }
        }
  
        &.skill {
          .level {
            padding-right: 0.5em;
          }
        }
  
        &.item {
          > .header {
            font-size: 1.1em;
            line-height: 1.1em;
          }
        }
      } 
    }
  }

  @media (min-width: 768px) {
    &:before {
      left: calc(50% - 1.5px);
    }

    .event {
      > .point {
        margin-top: 2rem;
        left: calc(50% - 8.5px);
      }

      &.left {
        &:after {
          clear: left;
        }
        .point {
          clear: left;
        }
        .card {
          width: 48%;
          float: left;
          clear: left;
        }
      }

      &.right {
        &:after {
          .clear();
          clear: right;
        }
        .point {
          clear: right;
        }
        .card {
          width: 48%;
          float: right;
          clear: right;

          &:before {
            left: 0;
          }
        }
      }
    }
  }
}